@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

body {
  margin:0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.header {
  position:relative;
  flex-direction: row;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.inner-header {
  max-height:120vh;
  width:100%;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  gap:2rem;
  flex-direction: column;
}
.card{
    z-index: 10000;
    min-width: 50%;
    background-color:rgba(247, 254, 255, 0.85);
    box-shadow: 1px 2px 16px -2px rgba(47,222,255,0.64);
    -webkit-box-shadow: 1px 2px 16px -2px rgba(47,222,255,0.64);
    -moz-box-shadow: 1px 2px 16px -2px rgba(47,222,255,0.64);
}
.card-header{
    background-color: rgb(46, 210, 255);
    color: #333333;
    font-size: 2rem;
}
.auth a{
    padding: .5rem 2rem;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.col label{
    width: 100%;
    margin: .2rem;
    font-size: 1.3rem;
    text-align: start;
    pointer-events: none;
    color:#333333;
}

.col input {
    width:100%;
    margin:0;
    font-size: 1.3rem;
    border: none;
    border-bottom: .2rem solid rgba(47,222,255,0.64);
    background:rgba(255, 255, 255, 0.5);
    outline: none;
}
.col a{
    font-size: 1rem;
    margin: .5rem;
    padding: 0;
    color: #333333;
}
.col a:hover{
    color:rgb(46, 210, 255) ;
}
.button {
    width: 100%;
    color: #333333;
    background-color: rgb(46, 210, 255);
    border: none;
    font-size: 1.8rem;
    padding:0 3rem;
    border-radius: 1rem;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

